{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

<div class="container text-center my-4">
    <h1>Get the job that you Deserve</h1>
</div>
<div class="text-center">
    <div class="row py-4">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">SDE 1</h5>
              <p class="card-text">Software Developer Engineer 1</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">SDE 2</h5>
              <p class="card-text">Software Developer Engineer 2</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>


      <div class="row py-4">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">SDE 3</h5>
              <p class="card-text">Software Developer Engineer 3</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>


      <div class="row py-4">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>


      <div class="row py">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              <form action="/jobs" method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 col-4 mx-auto my-5">
                  <label for="Role">Enter Your Role</label>
                  <input type="text" name="role" id="">
                  
                  <label for="Role">Why should you be hired for this role?</label>
                  <input type="text" name="why" id="">
  
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume">
  
                  <button class="btn btn-primary" type="submit">Apply</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
</div>

{% endblock body %}